:root {
  --prime_bc: hsl(13, 31%, 94%);
  --button_bc: hsl(20, 50%, 98%);
  --font_color: hsl(14, 86%, 42%);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--prime_bc);
}

.container {
  display: flex;
  padding-left: 40px;
  flex-wrap: wrap;
}

img {
  width: 100%;
  max-width: 200px;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(3, 1fr);
  gap: 5px;
}

#dessert_list {
  grid-column: span 3;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  margin-top: 15px;
  line-height: 2px;
}

.category {
  font-size: 11px;
  color: hsl(7, 20%, 60%);
  margin-top: 40px;
  margin-bottom: 0;
}

.name {
  color: hsl(14, 65%, 9%);
  font-size: 13px;
  font-weight: bold;
  margin: 2px 0;
}

.price {
  color: var(--font_color);
  font-size: 12px;
  font-weight: 600;
  margin: 2px 0;
}

.icon-button {
  margin-top: -20px;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button_bc);
  border: 1px solid hsl(14, 25%, 72%);
  font-size: 8px;
  border-radius: 50px;
  cursor: pointer;
  padding: 5px 25px;
  background-color: rgb(255, 253, 253);
}

.icon-button :hover {
  background-color: var(--font_color);
}

.add_cart .decrease,
.add_cart .increase {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  opacity: 0;
}

.add_cart:hover .decrease,
.add_cart:hover .increase {
  opacity: 1;
  color: rgb(255, 253, 253);
}

.icon {
  width: 18px;
}

.cart-container h1 {
  color: var(--font_color);
  font-weight: 650;
  padding-left: 0;
}

.cart-container p {
  font-size: 12px;
  color: hsl(12, 20%, 44%);
}

.sidebar {
  display: flex;
  padding-top: 50px;
  margin-left: 10px;
  block-size: fit-content;

}

.cart-container {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.cart-container img {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
